<%= render 'books/user', user: @user %>
<div class="col-md-1" style="background-color: #000;"></div>
<div class="col-md-8" style="background-color: #ddd;">
  <h2>Users</h2>
  <table class="table table-striped">
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinin</th>
      <th></th>
    </tr>
    <% @users.each do |users| %>
    <tr>
      <th><%= users.id %></th>
      <th><%= users.name %></th>
      <th><%= users.introduction %></th>
    </tr>
    <% end %>
  </table>
</div>