<% if flash[:error] %>
  <div class="error-messages">
    <h2><%= flash[:error]["count"] %> errors prohibited this obj from being saved:</h2>
    <ul>
      <% flash[:error]["messages"].each do |message| %>
      <p><%= message %></p>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <%= render 'books/user', user: @user %>
  <%= render 'books/book', books: @books %>
</div>