<div class="container">
  <div class="row">
  <% if flash[:error] %>
    <div class="error-messages">
      <h2><%= flash[:error]["count"] %> errors prohibited this obj from being saved:</h2>
      <ul>
        <% flash[:error]["messages"].each do |message| %>
        <p><%= message %></p>
        <% end %>
      </ul>
    </div>
  <% end %>
  </div>
</div>

<%= render 'books/user', user: @user %>
<div class="col-md-1"></div>
<%= render 'books/book', books: @books %>